API/target/
API/pom.xml.tag
API/pom.xml.releaseBackup
API/pom.xml.versionsBackup
API/pom.xml.next
API/release.properties
API/dependency-reduced-pom.xml
API/buildNumber.properties
API/.mvn/timing.properties
API/.idea/*
.idea/*
API/src/main/java/resources/app.properties